body {
    background-color: rgb(181, 181, 181);
}

form{
    display: inline
}

#canvas{
    background-color: rgb(0, 0, 0);
}

th, td {
      background-color:  #01bccd;
      border: 2px solid #00556f;
      padding: 8px;
      text-align: left;
      border-radius: 7px;
}

th {
      background-color: #01bccd;
}

#edit{
        display: none;
}

#output{
    /* display:none; */
}

input[type="text"]{
    background-color: white;
}